* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  background-color: #005;
  color: #fff;
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 42px;
  margin: 30px;
}

.slogan {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

div {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 500px;
  margin: 16px auto;
}

h2 {
  font-size: 28px;
  margin: 16px;
}

p {
  margin: 10px;
}

img {
  width: 300px;
  /* width: fit-content; */
  margin: 10px;
}

.preco {
  background-color: #050;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.whatsapp {
  background-color: #050;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-position: inside;
  margin: 10px;
}
