* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.primary-color {
  background-color: #041540;
}

.secondary-color {
  background-color: #0181c2;
}

.profile {
  max-width: 350px;
}

.title-font {
  font-family: "Poppins", sans-serif;
}

.text-font {
  font-family: "Open Sans", sans-serif;
}

header {
  border-bottom: 1px solid #868585;
}

.infos {
  background: linear-gradient(
    165deg,
    rgba(4, 21, 64, 1) 50%,
    rgba(1, 129, 194, 1) 100%
  );
  min-height: 600px;
}

i[class^="devicon"] {
  font-size: 100px;
}

.skills-itens:hover, .contato-itens:hover{
  background-color: #041540;
  border-radius: 5px;
  color: #fff;
}

.contato-itens i[class^="bi"]{
  font-size: 50px;
  color: #0181c2;
}

.contato-itens:hover i:first-of-type{
  color: #fff;
}

a i[class^="devicon"] {
  font-size: 30px;
  color: #868585;
}

a i[class^="bi"] {
  font-size: 30px;
  color: #868585;
}

footer {
  background-color: #0d1c2f;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .profile {
    max-width: 300px;
    max-height: 300px;
  }
}
